{% extends "base.html" %}
{% block title %} 課前問卷 {% endblock %}
{% block content %}
    <h1>課前問卷</h1>
    <form action="" enctype="multipart/form-data"  method="post">
        {% csrf_token %}
        <div>
            <h2>壹、請依據下列題意填答</h2>
            <table class="table table-condensed">
                <tr>
                    <th>&nbsp;</th><th>是</th><th>否</th>
                </tr>
                <tr>
                    <td>1.我曾經學過程式設計。</td>
                    <td><input type="radio" name="p1" id="psp1_t" value="1" /></td>
                    <td><input type="radio" name="p1" id="psp1_f" value="0" /></td>                    
                </tr>
                <tr id="psp1_desc_tr" style="display: none"><td colspan="3"><input class="form-control" type="text" name="p1" id="psp1_desc" placeholder="請輸入學過的程式語言名稱" /></td></tr>
            </table>
            <h2>貳、請依據題意在下列四個選項中，選填一個最適當的選項</h2>
            <table class="table table-hover">
                <tr>
                    <th class="col-md-8">&nbsp;</th>
                    <th class="col-md-1">非常同意</th>
                    <th class="col-md-1">同意</th>
                    <th class="col-md-1">不同意</th>
                    <th class="col-md-1">非常不同意</th>
                </tr>
                {% for question in questions %}
                <tr class="form-group has-error">
                    <td>{{ question }}</td>
                    <td class="form-group has-error"><input type="radio" name="p2_{{ forloop.counter }}" id="psp2_{{ forloop.counter }}_4" value="4" /></td>
                    <td><input type="radio" name="p2_{{ forloop.counter }}" id="psp2_{{ forloop.counter }}_3" value="3" /></td>
                    <td><input type="radio" name="p2_{{ forloop.counter }}" id="psp2_{{ forloop.counter }}_2" value="2" /></td>
                    <td><input type="radio" name="p2_{{ forloop.counter }}" id="psp2_{{ forloop.counter }}_1" value="1" /></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <input type="submit" value="Submit">
    </form>
{% endblock %}

{% block domready %}
$('#psp1_t').click(function(){
    $('#psp1_desc_tr').show();
    $('#psp1_desc').focus();
});
$('#psp1_f').click(function(){
    $('#psp1_desc_tr').hide();
    $('#psp1_desc').val('');
});

{% endblock %}